@import "./utilities.css";

:root {
  --lexia-orange: #f2a343;
}

.app {
  margin: 0px auto;
  max-width: 80rem;
}

.column {
  margin: 0 12px 0 20px;
}

.loading {
  font-size: 11px;
  margin-left: 20px;
}

.control {
  width: 100%;
}

.include-text {
  font-size: 11px;
  margin-bottom: 3px;
}

.exclude-text {
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 3px;
}
